.legend {
  background-color: rgba(255,255,255,0.9);
  position: fixed;
  /*right: 20px;
  bottom: 60px;*/
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  padding: 10px;
  max-width: 200px;
}

.legend-top-group {
  margin-bottom: 10px;
}

.legend-bottom-group {
  margin-top: 10px;
}

.legend-title {
  margin-bottom: 5px;
  font-size: smaller;
  font-weight: bold;
}

.legend-subtitle {
  font-size: smaller;
}

.legend-endnote {
  font-size: smaller;
}

.legend-entry {
  margin-bottom: 10px;
}

.legend .legend-entry:last-of-type{
  margin-bottom: 0px;
}

.legend-symbol {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.legend-label {
  height: 20px;
  line-height: 20px;
  font-size: smaller;
  overflow: hidden;
}